<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTjuRLTiKPDBr6julqX6cYkYX_AsWcX70</string>
	<key>GCM_SENDER_ID</key>
	<string>513634319009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.tom.cadoneghevolley</string>
	<key>PROJECT_ID</key>
	<string>cadoneghe-volley-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cadoneghe-volley-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513634319009:ios:98c9fbaa472ffd38810ee0</string>
</dict>
</plist>